.footer {
  padding-top: 29rem;
  padding-bottom: 7.9rem;

  @include breakpoint(md, max) {
    padding-top: 11.3rem;
  }

  .row {
    @include breakpoint(lg, max) {
      flex-direction: column-reverse;
    }

    .col-9,
    .col-3 {
      @include breakpoint(lg, max) {
        width: 100%;
      }
    }
  }

  .ready-work {
    @include breakpoint(lg, max) {
      margin-bottom: 4.3rem;
    }

    .section-title {
      position: relative;
      font-weight: 500;
      font-size: 7.2rem;
      line-height: 1.09;
      color: white;
      z-index: 3;

      @include breakpoint(lg, max) {
        display: block;
        margin-bottom: 4.8rem;
      }

      @include breakpoint(md, max) {
        margin-bottom: 1.8rem;
        font-size: 4rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) translateX(-50%);
        width: 44.6rem;
        height: 44.6rem;
        background: url(#{$images}gradient-01.svg);
        background-size: contain;
        z-index: -1;
      }

      .mark {
        position: relative;
        display: inline-block;
        transform: rotate(22.364deg);
        font-size: 0;

        &::before {
          content: "?";
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          font-size: 12rem;
          transform: translate(-30%, -70%) rotate(8.364deg);
          background: linear-gradient(80deg, #fff 31.54%, rgba(255, 255, 255, 0) 157.06%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @include breakpoint(md, max) {
            font-size: 8rem;
            transform: translate(-13%, -58%) rotate(3.364deg);
          }
        }
      }
    }

    .container-md {
      max-width: 90rem;
      padding-left: 0;
      padding-right: 0;
    }

    .text-holder {
      &.intro-text {
        max-width: 50rem;
        font-size: 2.2rem;
        line-height: 1.18;

        @include breakpoint(lg, min) {
          margin-bottom: 9.7rem;
          margin-left: auto;
        }

        @include breakpoint(md, max) {
          margin-bottom: 0;
        }
      }
    }
  }

  .contact-info-block {
    margin-left: 0;
    align-items: flex-start;
    color: white;

    @include breakpoint(md, max) {
      display: none;
    }
  }

  .footer-group {
    color: white;

    .menu-title {
      margin-bottom: 6rem;
      font-size: 2.2rem;

      @include breakpoint(md, max) {
        margin-bottom: 3.8rem;
      }

      br {
        @include breakpoint(lg, max) {
          display: none;
        }
      }
    }

    ul {
      margin: 0 0 9.9rem 0;
      padding: 0;
      list-style: none;
      font-size: 3.6rem;

      @include breakpoint(md, max) {
        display: flex;
        margin-bottom: 4.8rem;
        font-size: 1.8rem;
      }

      li {
        &:not(:last-child) {
          @include breakpoint(md, min) {
            margin-bottom: 2.3rem;
          }

          @include breakpoint(md, max) {
            margin-right: 1.6rem;
          }
        }

        a {
          position: relative;
          text-decoration: none;

          &::after {
            @include breakpoint(md, min) {
              content: "";
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -0.2rem;
              width: 0;
              height: 0;
              border-bottom: solid 0.2rem;
              transition: $transition;
            }
          }

          &:hover {
            &::after {
              @include breakpoint(md, min) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    font-size: 1.6rem;
    text-align: right;

    @include breakpoint(md, max) {
      text-align: center;
    }
  }

  .desktop {
    @include breakpoint(md, max) {
      display: none;
    }
  }

  .mobile {
    @include breakpoint(md, min) {
      display: none;
    }
  }

  .footer-lang {
    .lang-list {
      margin: 0 0 1.8rem 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      font-size: 1.6rem;

      li {
        &:not(:last-child) {
          margin-right: 2.3rem;
        }

        &:first-child {
          margin-right: 4.1rem;
        }
      }

      a {
        text-decoration: none;
      }

      .current {
        color: #fff;

        .light-theme & {
          color: #111318;
        }
      }
    }
  }
}
