.card-article {
  position: relative;
  z-index: 5;
  display: flex;
  border-radius: 1.6rem;
  transition: background-color 0.3s ease-out;

  @include breakpoint(md, min) {
    padding: 3.2rem;
    justify-content: space-between;
  }

  @include breakpoint(lg, max) {
    flex-direction: column-reverse;
  }

  .left-side {
    @include breakpoint(lg, min) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 3.2rem;
    }

    .card-title {
      @include breakpoint(lg, max) {
        display: none;
      }
    }
  }

  .card-title {
    display: block;
    margin-bottom: 3.2rem;
    max-width: 80rem;
    font-weight: 400;
    font-size: 4rem;
    line-height: 1.1;

    @include breakpoint(md, max) {
      display: block;
      margin-bottom: 1.6rem;
      font-size: 2.4rem;
    }

    a {
      text-decoration: none;
    }
  }

  .meta-info {
    display: flex;
    align-items: center;

    .category-link {
      padding: 1rem 2.4rem;
      font-size: 1.6rem;
      line-height: normal;
      color: #989898;
      text-decoration: none;
      background: rgba(255, 255, 255, 0.06);
      border-radius: 50rem;

      @include breakpoint(md, max) {
        color: $color-primary;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .info-user {
    display: flex;
    align-items: center;
    color: #989898;
    text-decoration: none;

    .user-content {
      margin-right: 3.2rem;
      padding-right: 3.2rem;
      border-right: solid 0.1rem rgba(#989898, 0.48);
    }

    .avatar-holder {
      flex-shrink: 0;
      width: 5.6rem;
      height: 5.6rem;
      margin-right: 1.6rem;

      @include breakpoint(md, max) {
        margin-right: 0.8rem;
        width: 4.8rem;
        height: 4.8rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.6rem;
      }
    }

    .user-name {
      display: block;
      margin-bottom: 0.4rem;
      font-size: 1.8rem;
      line-height: 1.1;
      color: white;
      position: relative;
      text-decoration: none;

      &::after {
        @include breakpoint(md, min) {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -0.2rem;
          width: 0;
          height: 0;
          border-bottom: solid 0.2rem;
          transition: $transition;
        }
      }

      &:hover {
        &::after {
          @include breakpoint(md, min) {
            width: 100%;
          }
        }
      }

      @include breakpoint(md, max) {
        display: flex;
        align-items: baseline;
        margin-bottom: 0;
        line-height: 1;
        font-size: 1.4rem;
      }
    }

    .user-surname {
      @include breakpoint(md, max) {
        display: block;
        font-size: 0;
        padding-left: 1rem;
      }

      &:first-letter {
        @include breakpoint(md, max) {
          font-size: 1.8rem;
        }
      }

      &::after {
        @include breakpoint(md, max) {
          content: ".";
          font-size: 1.8rem;
        }
      }
    }

    .user-adddate {
      font-size: 1.6rem;

      @include breakpoint(md, max) {
        font-size: 1.2rem;
      }
    }
  }

  .right-side {
    .card-title {
      @include breakpoint(lg, min) {
        display: none;
      }
    }

    .img-holder {
      @include breakpoint(lg, max) {
        display: flex;
        margin-bottom: 1.6rem;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 0.8rem;
      }
    }
  }

  &.card-item {
    .right-side {
      display: flex;

      @include breakpoint(lg, min) {
        justify-content: flex-end;
        flex: auto;
      }

      @include breakpoint(lg, max) {
        flex-direction: column-reverse;
      }
    }

    .img-holder {
      @include breakpoint(lg, min) {
        max-width: 46.3rem;
        min-width: 46.3rem;
        height: 20.6rem;
        display: flex;
      }

      img {
        @include breakpoint(lg, min) {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &:hover {
      @include breakpoint(md, min) {
        background-color: #191a1c;
      }
    }
  }
}
