.section-intro {
  padding-top: 9.6rem;
  padding-bottom: 10.1rem;
  color: white;

  @include breakpoint(md, max) {
    padding-top: 1.6rem;
    padding-bottom: 0;
    text-align: center;
  }

  .heading-size-1 {
    margin-bottom: 3.5rem;

    @include breakpoint(md, max) {
      margin-bottom: 2.9rem;
    }

    @include breakpoint(md, min) {
      max-width: 48rem;
    }
  }

  .text-holder {
    max-width: 46.8rem;
    font-size: 2.8rem;
    line-height: 1.2;

    @include breakpoint(md, max) {
      max-width: 34rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 2rem;
      line-height: 1.2;
    }
  }
}
