.page-author {
  padding-top: 8rem;

  @include breakpoint(md, max) {
    padding-top: 2.4rem;
  }

  .page-intro {
    padding-bottom: 8.8rem;

    @include breakpoint(md, max) {
      padding-bottom: 6.4rem;
    }

    .container {
      @include breakpoint(xl, min) {
        display: flex;
      }
    }

    .intro-left {
      display: flex;
      flex-direction: column;
    }

    .intro-right {
      flex: 1;
    }

    .intro-title {
      margin-top: auto;
      display: inline-block;
      color: $color-primary;
      letter-spacing: 0.8rem;
      text-transform: uppercase;
      writing-mode: vertical-lr;
      transform: rotateZ(-180deg) translateX(50%);
      padding-top: 3rem;

      @include breakpoint(xl, max) {
        display: none;
      }
    }
  }

  .author-block {
    padding: 3.2rem;
    border-radius: 4.8rem;
    color: white;
    background: #191a1c;

    @include breakpoint(lg, min) {
      display: flex;
    }

    @include breakpoint(md, max) {
      padding: 1.6rem;
      border-radius: 3.2rem;
    }

    .block-content {
      flex: 1;
    }

    .block-title {
      margin-bottom: 0.4rem;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: normal;
    }

    .block-subtitle {
      font-size: 1.8rem;
      color: $color-primary;

      @include breakpoint(md, max) {
        display: block;
        margin-bottom: 3.2rem;
      }
    }

    .block-header {
      margin-bottom: 3.2rem;

      @include breakpoint(md, min) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .social-links {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;

      @include breakpoint(md, min) {
        justify-content: flex-end;
      }

      li {
        margin-bottom: 1rem;

        &:not(:first-child) {
          margin-left: 2.4rem;
        }
      }

      a {
        position: relative;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -0.3rem;
          transform: translateX(-50%);
          width: 100%;
          height: 0.1rem;
          background: rgba(255, 255, 255, 0.16);
          transition: $transition;
        }

        &:hover {
          &::after {
            width: 0;
          }
        }
      }
    }

    .block-description {
      max-width: 74.8rem;
      margin-bottom: 3.2rem;
      font-size: 2rem;
      line-height: 1.4;

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .img-holder {
      display: flex;
      flex-shrink: 0;
      width: 34.4rem;
      height: 34.4rem;

      @include breakpoint(lg, max) {
        margin-bottom: 1.6rem;
      }

      @include breakpoint(md, min) {
        margin-right: 3.2rem;
      }

      @include breakpoint(md, max) {
        width: 100%;
        max-width: 34.4rem;
      }

      @include breakpoint(sm, max) {
        max-width: 31.2rem;
        height: 31.2rem;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 4.8rem;
        object-fit: cover;

        @include breakpoint(md, max) {
          border-radius: 3.2rem;
        }
      }
    }

    .footer-title {
      margin-bottom: 1.6rem;
      font-size: 1.6rem;
    }

    .block-tags {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 1rem;

        &:not(:last-child) {
          a {
            margin-right: 1.6rem;
          }
        }
      }

      a {
        display: inline-block;
        padding: 1.6rem 2.4rem;
        font-size: 1.6rem;
        border-radius: 50rem;
        color: $color-primary;
        background: rgba(255, 255, 255, 0.04);
        text-decoration: none;

        @include breakpoint(md, max) {
          padding: 1.6rem;
          font-size: 1.4rem;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.09);
        }
      }
    }
  }

  .section-articles {
    @include breakpoint(md, max) {
      padding-top: 0;
    }

    .section-title {
      display: block;
      margin-bottom: 4.8rem;
      padding-left: 3.2rem;
      font-weight: 700;
      font-size: 3.2rem;
      color: white;

      @include breakpoint(md, max) {
        display: none;
      }

      span {
        color: $color-primary;
      }
    }
  }
}
