<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>test</title>
</head>

<body class="smooth-scroll">
	<div class="wrapper" id="content-scroll">
		<!--  header -->
		<header class="header">
			<div class="container">
				<a href="#" class="logo-holder">
					<img src="images/logo.svg" alt="..." />
				</a>
				<nav class="main-navigation">
					<div class="inner-holder">
						<ul class="navbar-nav">
							<li>
								<a href="#">Portfolio.</a>
							</li>
							<li>
								<a href="#">Contact Us.</a>
							</li>
							<li>
								<a href="#">Showreel.</a>
							</li>
							<li>
								<a href="#">Articles.</a>
							</li>
						</ul>
						<div class="contact-info-block">
							<a href="mailto:hello@thelegacy.agency" class="contact-link">hello@thelegacy.agency</a>
							<a href="tel:380632969597" class="contact-link">+38 063 2969597</a>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<!-- / header -->
		<main id="main">
			<div class="page-author">
				<div class="page-intro">
					<div class="container">
						<div class="intro-left">
							<a class="link-back" href="#">
								<div class="icon-holder">
									<img src="images/icon-03.svg" alt="...">
								</div>
								<span>Back to Services</span>
							</a>
							<span class="intro-title">Author’s Profile</span>
						</div>
						<div class="intro-right">
							<div class="author-block">
								<div class="img-holder">
									<img src="images/img-027.jpg" alt="...">
								</div>
								<div class="block-content">
									<div class="block-header">
										<div>
											<h1 class="block-title">Viktor Skrynnikov</h1>
											<span class="block-subtitle">Owner, Product Designer</span>
										</div>
										<ul class="social-links">
											<li>
												<a href="#">LinkedIn</a>
											</li>
											<li>
												<a href="#">Instagram</a>
											</li>
											<li>
												<a href="#">TikTok</a>
											</li>
										</ul>
									</div>
									<div class="block-description">
										<p>Creator with a decade experience, working with start-ups as well as Fortune 500 companies and everything in between. Strongly convinced that design is not just a set of images, but a way of communication between two mindsets</p>
									</div>
									<div class="block-footer">
										<p class="footer-title">Love to discuss topics about:</p>
										<ul class="block-tags">
											<li>
												<a href="#">#design</a>
											</li>
											<li>
												<a href="#">#philosophy</a>
											</li>
											<li>
												<a href="#">#trading</a>
											</li>
											<li>
												<a href="#">#fixed gear</a>
											</li>
											<li>
												<a href="#">#anime</a>
											</li>
											<li>
												<a href="#">#yoga</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section-articles">
					<div class="container">
						<span class="section-title">Published Articles <span>112</span></span>
						<div class="cards-holder">
							<div class="card-article card-animated">
								<div class="left-side">
									<h3 class="card-title">
										<a href="#"><span class="text-gradient">Branding vs Marketing:</span> Difference, similarity & what you really need</a>
									</h3>
									<div class="meta-info">
										<a href="#" class="info-user">
											<div class="avatar-holder">
												<img src="images/img-07.jpg" alt="..." />
											</div>
											<div class="user-content">
												<span class="user-name">Viktor <span class="user-surname">Skrynnikov</span></span>
												<span class="user-adddate">30 JUNE 2023</span>
											</div>
										</a>
										<a href="#" class="category-link">Product</a>
									</div>
								</div>
								<div class="right-side">
									<span class="card-title">
										<a href="#"><span class="text-gradient">Branding vs Marketing:</span> Difference, similarity & what you really need</a>
									</span>
									<div class="img-holder">
										<img src="images/img-08.jpg" alt="..." />
									</div>
								</div>
							</div>
							<div class="card-article card-animated">
								<div class="left-side">
									<h3 class="card-title">
										<a href="#"><span class="text-gradient">Web Design UX:</span> Best practices to create a great website</a>
									</h3>
									<div class="meta-info">
										<a href="#" class="info-user">
											<div class="avatar-holder">
												<img src="images/img-07.jpg" alt="..." />
											</div>
											<div class="user-content">
												<span class="user-name">Viktor <span class="user-surname">Skrynnikov</span></span>
												<span class="user-adddate">30 JUNE 2023</span>
											</div>
										</a>
										<a href="#" class="category-link">Product</a>
									</div>
								</div>
								<div class="right-side">
									<span class="card-title">
										<a href="#"><span class="text-gradient">Web Design UX:</span> Best practices to create a great website</a>
									</span>
									<div class="img-holder">
										<img src="images/img-010.jpg" alt="..." />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--  footer -->
		<footer class="footer">
			<div class="container">
				<div class="ready-work">
					<div class="container container-md">
						<span class="section-title">
							<span><span>Ready to work</span> <br><span class="text-gradient">together</span> <span class="mark">?</span></span>
						</span>
						<div class="text-holder intro-text">
							<p>Please fill out the form below and we will contact you as soon as possible.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<div class="footer-group">
							<p class="menu-title">
								Where <br>
								you can <br>
								follow us?
							</p>
							<ul>
								<li><a href="#">Dribble</a></li>
								<li><a href="#">Behance</a></li>
								<li><a href="#">Telegram</a></li>
								<li><a href="#">Instagram</a></li>
							</ul>
						</div>
						<div class="contact-info-block">
							<a href="mailto:hello@thelegacy.agency" class="contact-link">hello@thelegacy.agency</a>
							<a href="tel:380632969597" class="contact-link">+38 063 2969597</a>
						</div>
					</div>
					<div class="col-9">
						<form>
							<div class="contact-form">
								<p>Bonjour! My name is <span><input type="text" placeholder="name of your company" class="form-control"></span> <span class="desktop">.</span> I’m looking for
									<span>
										<select name="select" class="form-select custom-select" id="a-select">
											<option value="value1" selected>New Website</option>
											<option value="value2">Re-design current website</option>
											<option value="value3">Awesome branding</option>
											<option value="value4">Mobile application</option>
											<option value="value5">Desktop application</option>
										</select>
									</span>
									<span class="desktop">I’d love to discuss project</span> <span class="mobile">I want to talk via E-mail </span> <br class="d-xl-none"> via E-mail <span><input type="text" placeholder="your email" class="form-control"></span>
								</p>
								<div class="form-footer">
									<div class="left-side">
										<div class="form-budget">
											<div class="form-label">Select Project Budget (USD)</div>
											<div class="budget-list">
												<label class="budget-item"><input type="radio" name="contact-budget" value="3 - 5k">
													<div>$3-5k</div>
												</label>
												<label class="budget-item"><input type="radio" name="contact-budget" value="5 - 10k">
													<div><span class="desktop">&lt; 5 - 10k</span><span class="mobile">&lt; $5-10k</span></div>
												</label>
												<label class="budget-item"><input type="radio" name="contact-budget" value=">10000" checked="">
													<div> <span class="desktop">&gt; $10,000</span><span class="mobile">&gt; $10k</span></div>
												</label>
											</div>
										</div>
									</div>
									<div class="right-side">
										<div class="form-label">Add Atachment</div>
										<label class="form-file"><input type="file" name="contact-file"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M11.5 16.5V8.35L8.9 10.95L7.5 9.5L12.5 4.5L17.5 9.5L16.1 10.95L13.5 8.35V16.5H11.5ZM6.5 20.5C5.95 20.5 5.479 20.304 5.087 19.912C4.695 19.52 4.49934 19.0493 4.5 18.5V15.5H6.5V18.5H18.5V15.5H20.5V18.5C20.5 19.05 20.304 19.521 19.912 19.913C19.52 20.305 19.0493 20.5007 18.5 20.5H6.5Z" fill="white" />
											</svg>
											<span class="file-title">Click to attach</span>
											<span class="file-array"></span>
										</label>
									</div>
								</div>
								<button class="submit-btn">Send request
									<span class="btn-circle">
										<span class="circle-inner">Send request
											<svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M0 8.982H22.375V12.326H0V8.982Z" fill="currentColor"></path>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M15.694 21.839L26.633 10.92L15.694 0L13.192 2.463L21.664 10.92L13.192 19.376L15.694 21.839Z" fill="currentColor"></path>
											</svg>
										</span>
									</span>
								</button>
							</div>
						</form>
					</div>
				</div>
				<p class="copyright">© thelegacy. 2012-2023 All Rights reserved.</p>
			</div>
		</footer>
		<!-- / footer -->
	</div>
	<div class="mobile-menu">
		<ul class="navbar-nav">
			<li>
				<a href="#">Portfolio.</a>
			</li>
			<li>
				<a href="#">Contact Us.</a>
			</li>
			<li>
				<a href="#">Showreel.</a>
			</li>
			<li>
				<a href="#">Articles.</a>
			</li>
		</ul>
	</div>
</body>

</html>