<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>test</title>
</head>

<body class="smooth-scroll">
	<div class="wrapper" id="content-scroll">
		<!--  header -->
		<header class="header">
			<div class="container">
				<a href="#" class="logo-holder">
					<img src="images/logo.svg" alt="..." />
				</a>
				<nav class="main-navigation">
					<div class="inner-holder">
						<ul class="navbar-nav">
							<li>
								<a href="#">Portfolio.</a>
							</li>
							<li>
								<a href="#">Contact Us.</a>
							</li>
							<li>
								<a href="#">Showreel.</a>
							</li>
							<li>
								<a href="#">Articles.</a>
							</li>
						</ul>
						<div class="contact-info-block">
							<a href="mailto:hello@thelegacy.agency" class="contact-link">hello@thelegacy.agency</a>
							<a href="tel:380632969597" class="contact-link">+38 063 2969597</a>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<!-- / header -->
		<main id="main">
			<div class="page-portfolio-categories">
				<div class="categories-intro">
					<div class="container">
						<div class="row">
							<div class="col-7">
								<div class="text-holder text-main has-mask has-mask-fill-2">
									<span>We are passionate about every challenge, and that's what allows us to deliver world-class results</span>
								</div>
							</div>
							<div class="col-5">
								<div class="img-holder">
									<img src="images/img-012.jpg" alt="...">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="categories-cards">
						<div class="row">
							<div class="col-6">
								<div class="category-card padding-md">
									<div class="title-holder positioning-1">
										<h3 class="card-title text-gradient">Ux/Ui <br> Web Design</h3>
										<div class="arrow-holder">
											<img src="images/icon-02.svg" alt="...">
										</div>
									</div>
									<div class="bg-img">
										<picture>
											<source srcset="images/img-020.png" media="(max-width: 575px)" />
											<img src="images/img-013.png" alt="...">
										</picture>
									</div>
									<a class="link-to-post" href="#">Ux/Ui Web Design</a>
								</div>
							</div>
							<div class="col-6">
								<div class="two-in-col">
									<div class="category-card padding-md">
										<div class="title-holder positioning-1">
											<h3 class="card-title text-gradient">Brand <br> Identity</h3>
											<div class="arrow-holder">
												<img src="images/icon-02.svg" alt="...">
											</div>
										</div>
										<div class="bg-img">
											<picture>
												<source srcset="images/img-021.jpg" media="(max-width: 575px)" />
												<img src="images/img-014.jpg" alt="...">
											</picture>
										</div>
										<a class="link-to-post" href="#">Brand Identity</a>
									</div>
									<div class="category-card padding-md content-bottom">
										<div class="title-holder positioning-2">
											<h3 class="card-title text-gradient">Pitch Decks <br> & Presentations</h3>
											<div class="arrow-holder">
												<img src="images/icon-02.svg" alt="...">
											</div>
										</div>
										<div class="bg-img">
											<picture>
												<source srcset="images/img-022.png" media="(max-width: 575px)" />
												<img src="images/img-015.png" alt="...">
											</picture>
										</div>
										<a class="link-to-post" href="#">Pitch Decks & Presentations</a>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="category-card padding-md margin-bottom-0">
									<div class="title-holder positioning-1 hide-arrow-desktop">
										<h3 class="card-title text-gradient text-center">Mobile <br> Applications</h3>
										<div class="arrow-holder">
											<img src="images/icon-02.svg" alt="...">
										</div>
									</div>
									<div class="bg-img">
										<picture>
											<source srcset="images/img-023.png" media="(max-width: 575px)" />
											<img src="images/img-016.jpg" alt="...">
										</picture>
									</div>
									<a class="link-to-post" href="#">Mobile Applications</a>
								</div>
							</div>
							<div class="col-4">
								<div class="two-in-col">
									<div class="category-card padding-md content-bottom">
										<div class="title-holder positioning-1">
											<h3 class="card-title text-gradient">SEO <br> Optimization</h3>
											<div class="arrow-holder">
												<img src="images/icon-02.svg" alt="...">
											</div>
										</div>
										<div class="bg-img">
											<picture>
												<source srcset="images/img-024.png" media="(max-width: 575px)" />
												<img src="images/img-017.jpg" alt="...">
											</picture>
										</div>
										<a class="link-to-post" href="#">SEO Optimization</a>
									</div>
									<div class="category-card padding-md content-bottom margin-bottom-0">
										<div class="title-holder positioning-1">
											<h3 class="card-title text-gradient">Search Engine <br> Marketing</h3>
											<div class="arrow-holder">
												<img src="images/icon-02.svg" alt="...">
											</div>
										</div>
										<div class="bg-img">
											<picture>
												<source srcset="images/img-025.png" media="(max-width: 575px)" />
												<img src="images/img-018.jpg" alt="...">
											</picture>
										</div>
										<a class="link-to-post" href="#">Search Engine Marketing</a>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="category-card padding-md h-100 margin-bottom-0">
									<div class="title-holder positioning-1 hide-arrow-desktop">
										<h3 class="card-title text-gradient text-center">3D Graphics & <br> Motion Design</h3>
										<div class="arrow-holder">
											<img src="images/icon-02.svg" alt="...">
										</div>
									</div>
									<div class="bg-img">
										<picture>
											<source srcset="images/img-026.png" media="(max-width: 575px)" />
											<img src="images/img-019.jpg" alt="...">
										</picture>
									</div>
									<a class="link-to-post" href="#">3D Graphics & Motion Design</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--  footer -->
		<footer class="footer">
			<div class="container">
				<div class="ready-work">
					<div class="container container-md">
						<span class="section-title">
							<span><span>Ready to work</span> <br><span class="text-gradient">together</span> <span class="mark">?</span></span>
						</span>
						<div class="text-holder intro-text">
							<p>Please fill out the form below and we will contact you as soon as possible.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<div class="footer-group">
							<p class="menu-title">
								Where <br>
								you can <br>
								follow us?
							</p>
							<ul>
								<li><a href="#">Dribble</a></li>
								<li><a href="#">Behance</a></li>
								<li><a href="#">Telegram</a></li>
								<li><a href="#">Instagram</a></li>
							</ul>
						</div>
						<div class="contact-info-block">
							<a href="mailto:hello@thelegacy.agency" class="contact-link">hello@thelegacy.agency</a>
							<a href="tel:380632969597" class="contact-link">+38 063 2969597</a>
						</div>
					</div>
					<div class="col-9">
						<form>
							<div class="contact-form">
								<p>Bonjour! My name is <span><input type="text" placeholder="name of your company" class="form-control"></span> <span class="desktop">.</span> I’m looking for
									<span>
										<select name="select" class="form-select custom-select" id="a-select">
											<option value="value1" selected>New Website</option>
											<option value="value2">Re-design current website</option>
											<option value="value3">Awesome branding</option>
											<option value="value4">Mobile application</option>
											<option value="value5">Desktop application</option>
										</select>
									</span>
									<span class="desktop">I’d love to discuss project</span> <span class="mobile">I want to talk via E-mail </span> <br class="d-xl-none"> via E-mail <span><input type="text" placeholder="your email" class="form-control"></span>
								</p>
								<div class="form-footer">
									<div class="left-side">
										<div class="form-budget">
											<div class="form-label">Select Project Budget (USD)</div>
											<div class="budget-list">
												<label class="budget-item"><input type="radio" name="contact-budget" value="3 - 5k">
													<div>$3-5k</div>
												</label>
												<label class="budget-item"><input type="radio" name="contact-budget" value="5 - 10k">
													<div><span class="desktop">&lt; 5 - 10k</span><span class="mobile">&lt; $5-10k</span></div>
												</label>
												<label class="budget-item"><input type="radio" name="contact-budget" value=">10000" checked="">
													<div> <span class="desktop">&gt; $10,000</span><span class="mobile">&gt; $10k</span></div>
												</label>
											</div>
										</div>
									</div>
									<div class="right-side">
										<div class="form-label">Add Atachment</div>
										<label class="form-file"><input type="file" name="contact-file"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M11.5 16.5V8.35L8.9 10.95L7.5 9.5L12.5 4.5L17.5 9.5L16.1 10.95L13.5 8.35V16.5H11.5ZM6.5 20.5C5.95 20.5 5.479 20.304 5.087 19.912C4.695 19.52 4.49934 19.0493 4.5 18.5V15.5H6.5V18.5H18.5V15.5H20.5V18.5C20.5 19.05 20.304 19.521 19.912 19.913C19.52 20.305 19.0493 20.5007 18.5 20.5H6.5Z" fill="white" />
											</svg>
											<span class="file-title">Click to attach</span>
											<span class="file-array"></span>
										</label>
									</div>
								</div>
								<button class="submit-btn">Send request
									<span class="btn-circle">
										<span class="circle-inner">Send request
											<svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M0 8.982H22.375V12.326H0V8.982Z" fill="currentColor"></path>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M15.694 21.839L26.633 10.92L15.694 0L13.192 2.463L21.664 10.92L13.192 19.376L15.694 21.839Z" fill="currentColor"></path>
											</svg>
										</span>
									</span>
								</button>
							</div>
						</form>
					</div>
				</div>
				<p class="copyright">© thelegacy. 2012-2023 All Rights reserved.</p>
			</div>
		</footer>
		<!-- / footer -->
	</div>
	<div class="mobile-menu">
		<ul class="navbar-nav">
			<li>
				<a href="#">Portfolio.</a>
			</li>
			<li>
				<a href="#">Contact Us.</a>
			</li>
			<li>
				<a href="#">Showreel.</a>
			</li>
			<li>
				<a href="#">Articles.</a>
			</li>
		</ul>
	</div>
	<div class="popup-wrap">
		<div class="popup-eclipse" custom-cursor="cursor-close"></div>
		<div class="popup">
			<div class="popup-inner">
				<div class="media-preloader">
					<div class="media-preloader-inner"></div>
				</div>
				<div id="vimeo-player-4" class="vimeo" data-vimeo-initialized="true">
					<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/418475954?autoplay=0&amp;controls=0&amp;loop=1&amp;app_id=122963" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Mini Showreel" data-ready="true"></iframe></div>
				</div>
			</div>
		</div>
	</div>
	<div class="cursor"></div>
</body>

</html>