<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>test</title>
  <script src="js/libs.js"></script>
</head>

<body class="smooth-scroll">
  <div id="page_wrap" class="webgl-mouse">
    <div class="wrapper" id="content-scroll">
      <!--  header -->
      <header class="header">
        <div class="container">
          <a href="#" class="logo-holder">
            <img src="images/logo.svg" alt="..." />
          </a>
          <nav class="main-navigation">
            <div class="inner-holder">
              <div class="menu-primary-menu-container">
                <ul id="primary-menu" class="menu">
                  <li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13"><a href="#">Portfolio.</a></li>
                  <li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12"><a href="#">Showreel.</a></li>
                  <li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11"><a href="#">Contact Us.</a></li>
                  <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10"><a href="#">Articles.</a></li>
                </ul>
              </div>
              <div class="contact-info-block">
                <a href="mailto:hello@thelegacy.agency" class="contact-link">hello@thelegacy.agency</a>
                <a href="tel:380632969597" class="contact-link">+38 063 2969597</a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- / header -->
      <div id="webgl-container">
        <canvas id="webgl-canvas" class="home-bg__animation" width="1920" height="911"></canvas>
      </div>
      <main id="main">
        <div class="page-home">
          <div class="section-intro">
            <div class="container container-md">
              <div class="content-holder">
                <h1 class="heading-size-1 text-gradient">
                  Communication <br />
                  Web & Digital <br />
                  Design
                </h1>
                <div class="text-holder">Focused on you, for us is a infinite challenge to do better than all we have <span class="color-primary">already done</span></div>
              </div>
            </div>
          </div>
          <div class="section-video">
            <div class="container">
              <div class="video-holder" custom-cursor="cursor-play" modal-target>
                <video loop="loop" autoplay="autoplay" preload="auto" muted="muted" src="images/pexels-kammeran-.mp4"></video>
              </div>
            </div>
          </div>
          <div class="section-text">
            <div class="container container-md">
              <div class="text-holder text-before">
                <p>Why you’ll enjoy to work with us?</p>
              </div>
              <div class="text-holder text-main has-mask-fill">
                <span>We are passionate about every challenge, and that's what allows us to deliver world-class results</span>
                <!-- <p>We are passionate about every challenge, and that's what allows us to deliver world-class results</p> -->
              </div>
            </div>
          </div>
          <div class="section-services">
            <div class="container container-md">
              <div class="card-service has-animation" card-service>
                <div class="left-side">
                  <h3 class="card-title"><a href="#">Web Development & Design</a></h3>
                  <div class="text-holder">
                    <p>Developing top class responsive websites with outstanding design and right content approach</p>
                  </div>
                  <a href="#" class="icon-holder">
                    <img src="images/icon-01.svg" alt="..." />
                  </a>
                </div>
                <div class="right-side">
                  <div class="img-holder">
                    <a href="#"><img src="images/img-011.jpg" alt="..." /></a>
                  </div>
                </div>
              </div>
              <div class="card-service has-animation" card-service>
                <div class="left-side">
                  <h3 class="card-title"><a href="#">Brand Identity</a></h3>
                  <div class="text-holder">
                    <p>Designing outstanding visuals and hi-standard brand guidelines for new companies and those who choose to rebrand.</p>
                  </div>
                  <a href="#" class="icon-holder">
                    <img src="images/icon-01.svg" alt="..." />
                  </a>
                </div>
                <div class="right-side">
                  <div class="img-holder">
                    <a href="#"><img src="images/img-011.jpg" alt="..." /></a>
                  </div>
                </div>
              </div>
              <div class="card-service has-animation" card-service>
                <div class="left-side">
                  <h3 class="card-title"><a href="#">Pitch Decks and Presentations</a></h3>
                  <div class="text-holder">
                    <p>Developing modern and easy to use apps for iOS and Android with any kind of functional</p>
                  </div>
                  <a href="#" class="icon-holder">
                    <img src="images/icon-01.svg" alt="..." />
                  </a>
                </div>
                <div class="right-side">
                  <div class="img-holder">
                    <a href="#"><img src="images/img-011.jpg" alt="..." /></a>
                  </div>
                </div>
              </div>
              <div class="card-service has-animation" card-service>
                <div class="left-side">
                  <h3 class="card-title"><a href="#">Mobile app development</a></h3>
                  <div class="text-holder">
                    <p>Developing modern and easy to use apps for iOS and Android with any kind of functional</p>
                  </div>
                  <a href="#" class="icon-holder">
                    <img src="images/icon-01.svg" alt="..." />
                  </a>
                </div>
                <div class="right-side">
                  <div class="img-holder">
                    <a href="#"><img src="images/img-011.jpg" alt="..." /></a>
                  </div>
                </div>
              </div>
              <div class="card-service has-animation" card-service>
                <div class="left-side">
                  <h3 class="card-title"><a href="#">Marketing Strategy & Promo materials</a></h3>
                  <div class="text-holder">
                    <p>Marketing is a complex activity with regard to a brand and its services, aimed at strengthening its market positions & increasing incomes</p>
                  </div>
                  <a href="#" class="icon-holder">
                    <img src="images/icon-01.svg" alt="..." />
                  </a>
                </div>
                <div class="right-side">
                  <div class="img-holder">
                    <a href="#"><img src="images/img-011.jpg" alt="..." /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-brands">
            <div class="container">
              <div class="row">
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-aua.svg" alt="Logo 1">
                    </div>
                    1
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-mark.svg" alt="Logo 2">
                    </div>
                    2
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-levens.svg" alt="Logo 3">
                    </div>
                    3
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-hiclub.svg" alt="Logo 4">
                    </div>
                    4
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-bankex.svg" alt="Logo 5">
                    </div>
                    5
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-westrike.svg" alt="Logo 6">
                    </div>
                    6
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-uot.png" alt="Logo 7">
                    </div>
                    7
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-serpresult.svg" alt="Logo 8">
                    </div>
                    8
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-qube.svg" alt="Logo 9">
                    </div>
                    9
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-podcast.svg" alt="Logo 10">
                    </div>
                    10
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.google.com/" traget="_blank" class="brands-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="logo-holder">
                      <img src="https://dev.thelegacy.com.ua/wp-content/uploads/2023/11/logo-moon.svg" alt="Logo 11">
                    </div>
                    11
                  </a>
                </div>
                <div class="col-3">
                  <div class="brands-item text-item" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px); visibility: inherit;">
                    <div class="text-holder">
                      <p>I want to place <br>my brand here</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-portfolio_cards">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="card-portfolio has-animation">
                    <div class="img-holder">
                      <img src="images/img-01.jpg" alt="..." />
                    </div>
                    <h3 class="card-title text-gradient">Hi-Tech Club</h3>
                    <div class="text-holder">
                      <p>Exclusive hookah manufacturer</p>
                    </div>
                    <a href="#" class="card-link">Hi-Tech Club</a>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card-portfolio has-animation">
                    <div class="img-holder">
                      <img src="images/img-02.jpg" alt="..." />
                    </div>
                    <h3 class="card-title text-gradient">KWPC.</h3>
                    <div class="text-holder">
                      <p>Crypto live show where the community votes for projects in real time</p>
                    </div>
                    <a href="#" class="card-link">KWPC.</a>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card-portfolio has-animation">
                    <div class="img-holder">
                      <img src="images/img-03.jpg" alt="..." />
                    </div>
                    <h3 class="card-title text-gradient">Qube.</h3>
                    <div class="text-holder">
                      <p>Transparent and secure crypto space</p>
                    </div>
                    <a href="#" class="card-link">Qube.</a>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card-portfolio has-animation">
                    <div class="img-holder">
                      <img src="images/img-04.jpg" alt="..." />
                    </div>
                    <h3 class="card-title text-gradient">BET999.</h3>
                    <div class="text-holder">
                      <p>Crypto live show where the community votes for projects in real time</p>
                    </div>
                    <a href="#" class="card-link">BET999.</a>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card-portfolio has-animation">
                    <div class="img-holder">
                      <img src="images/img-05.jpg" alt="..." />
                    </div>
                    <h3 class="card-title text-gradient">Skynet Trading</h3>
                    <div class="text-holder">
                      <p>DEX, based on Everscale</p>
                    </div>
                    <a href="#" class="card-link">Skynet Trading</a>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card-portfolio has-animation">
                    <div class="img-holder">
                      <img src="images/img-06.jpg" alt="..." />
                    </div>
                    <h3 class="card-title text-gradient">Levens.</h3>
                    <div class="text-holder">
                      <p>Ukrainian manufacturer of hardwood flooring</p>
                    </div>
                    <a href="#" class="card-link">Levens.</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-articles">
            <div class="container">
              <h2 class="section-title text-gradient">
                Delicious dish for mind. <br />
                Bon appetite!
              </h2>
              <div class="cards-holder">
                <div class="card-article card-item">
                  <div class="left-side">
                    <h3 class="card-title">
                      <a href="#"><span class="text-gradient">Branding vs Marketing:</span> Difference, similarity & what you really need</a>
                    </h3>
                    <div class="meta-info">
                      <a href="#" class="info-user">
                        <div class="avatar-holder">
                          <img src="images/img-017.jpg" alt="..." />
                        </div>
                        <div class="user-content">
                          <span class="user-name">Viktor <span class="user-surname">Skrynnikov</span></span>
                          <span class="user-adddate">30 JUNE 2023</span>
                        </div>
                      </a>
                      <a href="#" class="category-link">Product</a>
                    </div>
                  </div>
                  <div class="right-side">
                    <span class="card-title">
                      <a href="#"><span class="text-gradient">Branding vs Marketing:</span> Difference, similarity & what you really need</a>
                    </span>
                    <div class="img-holder">
                      <img src="images/img-017.jpg" alt="..." />
                    </div>
                  </div>
                </div>
                <div class="card-article card-item">
                  <div class="left-side">
                    <h3 class="card-title">
                      <a href="#"><span class="text-gradient">User Flows in UX Design:</span> Who are they?</a>
                    </h3>
                    <div class="meta-info">
                      <a href="#" class="info-user">
                        <div class="avatar-holder">
                          <img src="images/img-07.jpg" alt="..." />
                        </div>
                        <div class="user-content">
                          <span class="user-name">Viktor <span class="user-surname">Skrynnikov</span></span>
                          <span class="user-adddate">21 JULY 2023</span>
                        </div>
                      </a>
                      <a href="#" class="category-link">Ux/Ui</a>
                    </div>
                  </div>
                  <div class="right-side">
                    <span class="card-title">
                      <a href="#"><span class="text-gradient">User Flows in UX Design:</span> Who are they?</a>
                    </span>
                    <div class="img-holder">
                      <img src="images/img-09.jpg" alt="..." />
                    </div>
                  </div>
                </div>
                <div class="card-article card-item">
                  <div class="left-side">
                    <h3 class="card-title">
                      <a href="#"><span class="text-gradient">Web Design UX:</span> Best practices to create a great website</a>
                    </h3>
                    <div class="meta-info">
                      <a href="#" class="info-user">
                        <div class="avatar-holder">
                          <img src="images/img-07.jpg" alt="..." />
                        </div>
                        <div class="user-content">
                          <span class="user-name">Viktor <span class="user-surname">Skrynnikov</span></span>
                          <span class="user-adddate">30 JUNE 2023</span>
                        </div>
                      </a>
                      <a href="#" class="category-link">Product</a>
                    </div>
                  </div>
                  <div class="right-side">
                    <span class="card-title">
                      <a href="#"><span class="text-gradient">Web Design UX:</span> Best practices to create a great website</a>
                    </span>
                    <div class="img-holder">
                      <img src="images/img-010.jpg" alt="..." />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!--  footer -->
      <footer class="footer">
        <div class="container">
          <div class="ready-work">
            <div class="container container-md">
              <span class="section-title">
                <span><span>Ready to work</span> <br><span class="text-gradient">together</span> <span class="mark">?</span></span>
              </span>
              <div class="text-holder intro-text">
                <p>Please fill out the form below and we will contact you as soon as possible.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="footer-group">
                <p class="menu-title">
                  Where <br>
                  you can <br>
                  follow us?
                </p>
                <ul>
                  <li><a href="#">Dribble</a></li>
                  <li><a href="#">Behance</a></li>
                  <li><a href="#">Telegram</a></li>
                  <li><a href="#">Instagram</a></li>
                </ul>
              </div>
              <div class="contact-info-block">
                <a href="mailto:hello@thelegacy.agency" class="contact-link">hello@thelegacy.agency</a>
                <a href="tel:380632969597" class="contact-link">+38 063 2969597</a>
              </div>
            </div>
            <div class="col-9">
              <form>
                <div class="contact-form">
                  <p>Bonjour! My name is <span><input type="text" placeholder="name of your company" class="form-control"></span> <span class="desktop">.</span> I’m looking for
                    <span>
                      <select name="select" class="form-select custom-select" id="a-select">
                        <option value="value1" selected>New Website</option>
                        <option value="value2">Re-design current website</option>
                        <option value="value3">Awesome branding</option>
                        <option value="value4">Mobile application</option>
                        <option value="value5">Desktop application</option>
                      </select>
                    </span>
                    <span class="desktop">I’d love to discuss project</span> <span class="mobile">I want to talk via E-mail </span> <br class="d-xl-none"> via E-mail <span><input type="text" placeholder="your email" class="form-control"></span>
                  </p>
                  <div class="form-footer">
                    <div class="left-side">
                      <div class="form-budget">
                        <div class="form-label">Select Project Budget (USD)</div>
                        <div class="budget-list">
                          <p><span class="wpcf7-form-control-wrap" data-name="radio-25"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first"><label><input type="radio" name="radio-25" value="$3-5k" checked="checked"><span class="wpcf7-list-item-label">$3-5k</span></label></span><span class="wpcf7-list-item"><label><input type="radio" name="radio-25" value="$5 - 10k"><span class="wpcf7-list-item-label">$5 - 10k</span></label></span><span class="wpcf7-list-item last"><label><input type="radio" name="radio-25" value="> $10,000"><span class="wpcf7-list-item-label">&gt; $10,000</span></label></span></span></span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="right-side">
                      <div class="form-label">Add Atachment</div>
                      <label class="form-file" id="form-file"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M11.5 16.5V8.35L8.9 10.95L7.5 9.5L12.5 4.5L17.5 9.5L16.1 10.95L13.5 8.35V16.5H11.5ZM6.5 20.5C5.95 20.5 5.479 20.304 5.087 19.912C4.695 19.52 4.49934 19.0493 4.5 18.5V15.5H6.5V18.5H18.5V15.5H20.5V18.5C20.5 19.05 20.304 19.521 19.912 19.913C19.52 20.305 19.0493 20.5007 18.5 20.5H6.5Z" fill="white" />
                        </svg>
                        <span class="file-title">Click to attach</span>
                        <span class="file-array"></span>
                      </label>
                      <p><span class="wpcf7-form-control-wrap" data-name="file-397"><input id="form-attachment" size="40" class="wpcf7-form-control wpcf7-file" accept="audio/*,video/*,image/*" aria-invalid="false" type="file" name="file-397"></span>
                      </p>
                    </div>
                  </div>
                  <button class="submit-btn" type="button" id="form-submit-trigger">
                    Send request
                    <span class="btn-circle">
                      <span class="circle-inner">Send request
                        <svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8.982H22.375V12.326H0V8.982Z" fill="currentColor"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.694 21.839L26.633 10.92L15.694 0L13.192 2.463L21.664 10.92L13.192 19.376L15.694 21.839Z" fill="currentColor"></path>
                        </svg>
                      </span>
                    </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="footer-lang">
            <ul class="lang-list">
              <li>Language:</li>
              <li><span class="lang-item current">en</span></li>
              <li><a href="https://dev.thelegacy.com.ua/uk/home-page/">uk</a></li>
            </ul>
          </div>
          <p class="copyright">© thelegacy. 2012-2023 All Rights reserved.</p>
        </div>
      </footer>
      <!-- / footer -->
    </div>
    <div class="mobile-menu">
      <ul class="navbar-nav">
        <li>
          <a href="#">Portfolio.</a>
        </li>
        <li>
          <a href="#">Contact Us.</a>
        </li>
        <li>
          <a href="#">Showreel.</a>
        </li>
        <li>
          <a href="#">Articles.</a>
        </li>
      </ul>
    </div>
    <div class="popup-wrap">
      <div class="popup-eclipse" custom-cursor="cursor-close"></div>
      <div class="popup">
        <div class="popup-inner">
          <div class="media-preloader">
            <div class="media-preloader-inner"></div>
          </div>
          <div class="video-holder" style="padding:56.25% 0 0 0;position:relative;">
            <video loop="loop" id="home-modal-video" src="images/pexels_videos.mp4"></video>
          </div>
        </div>
      </div>
    </div>
    <span class="cursor">
      <span class="cursor-inner"></span>
      <span class="cursor-border">
        <span class="cursor-click">
          <span class="pulse-click">
          </span>
        </span>
      </span>
    </span>
  </div>
</body>

</html>